
*:focus {outline: none;}

body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}
.contact_form h2, .contact_form label {font-family:Georgia, Times, "Times New Roman", serif;}
.form_hint, .required_notification {font-size: 11px;}


.edit_form h2 {
    margin:0;
    display: inline;
}

.edit_form ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.edit_form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

.edit_form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    padding:3px;
}
.edit_form input {
    height:20px;
    width:220px;
    padding:5px 8px;
}

.edit_form  img {
    height:50px;
    width:50px;
    padding:5px 8px;
}

.edit_form button {margin-left:156px;}
